/*
!/.dir-locals.el
!/.gitignore
!/COPYING.md
!/README.md

!/ARM.asm
!/AutoLISP.lsp
!/BodyBuilding.org
!/ELisp.el
!/HTML.html
!/JavaScript.js
!/MIPS_32.asm
!/PostgreSQL.org
!/SQL.sql
!/YAML.yaml

/docs/*
!/docs/?*.html

# Local Variables:
# coding: utf-8-unix
# End:
