# -*- coding: utf-8-unix; -*-

/*
!/.gitignore
!/index.org

!/BodyBuilding/
/BodyBuilding/*
!/Bodybuilding/Bodybuilding.org

!/ComputerNetworking/
/ComputerNetworking/*
!/ComputerNetworking/Commands.org

!/HTML+CSS/
/HTML/*
!/HTML/HTML.html
!/HTML/static_Webpage.org

!/Java/
/Java/*
!/Java/柴田望洋-明解Java入門.org

!/JavaScript/
/JavaScript/*
!/JavaScript/JavaScript.js

!/Java/
/Java/*
!/Java/柴田望洋-明解Java入門.org

!/MIPS/
/MIPS/*
!/MIPS/MIPS32.asm

!/OpenMP/
/OpenMP/*
!/OpenMP/OpenMP.org

!/OrgMode/
/OrgMode/*
!/OrgMode/Org.org

!/SQL/
/SQL/*
!/SQL/SQL.sql
!/SQL/PostgreSQL.org

!/日本語/
/日本語/*
!/日本語/入門.md
