/*
!/.gitignore
!/index.org

/BodyBuilding/*
!/Bodybuilding/Bodybuilding.org

/HTML/*
!/HTML/HTML.html

/JavaScript/*
!/JavaScript/JavaScript.js

/MIPS/*
!/MIPS/MIPS-32.asm

/OpenMP/*
!/OpenMP/OpenMP.org

/SQL/*
!/SQL/SQL.sql
!/SQL/PostgreSQL.org

/OrgMode/*
!/OrgMode/Org.org
